* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  display: flex;
  justify-content: center;
}

body {
  width: 60%;
  padding: 0px 20px;
  min-height: 100vh;
  background-color: #080616;
  color: white;
  font-family: monospace, 'Albert Sans', Tahoma, Arial, Helvetica, sans-serif;
}