* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  color: grey;
  background-color: black;
  margin: 5rem 30rem 0rem 30rem;
  font-family: "Geist", sans-serif;
}


header {
  background-color: blue;
}

main {
  background-color: orange;
}

#root {
  display: flex;
  margin: 9.5px;
}


.roboto-geist {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.geist-geistNormal {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


